.info {
    cursor: pointer;
    .icon {
        color: $blue;
        font-size: 22px;
    }
}

@include media-breakpoint-down(sm) {
    .info {
        .icon {
            display: block;
        }
    }
}