.notifier-bell {
    width: 64px;
    height: 71px;
    display: block;
    position: relative;
}

.notifier-bell-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    .icon::before {
        font-size: 40px;
        margin: 0;
    }
}

.notifier-bell-badge {
    position: absolute;
    top: 20%;
    right: 0;
}