.footer
    .container 
        .row 
            .col-md-9.col-lg-10
                .footer-top-row
                    include dropdown-menu-lang
                    +dropdown-menu-lang("link-color")
                    .footer-app-links.sm-block-none
                        include app-store-link
                        include g-play-link
                ul.menu-list
                    li 
                        a(href="#") Ресурсы
                    li 
                        a(href="#") Контакты
                    li 
                        a(href="#") О нас
                    li 
                        a(href="#") Новости сайта
                    li 
                        a(href="#") Условия использования
            .col-md-3.col-lg-2
                include btn
                +btn("Работодателю", "btn-blue btn-arrow", "#")
        .copyright.color-grey © 2006–2016 Work.ua. Сайт поиска работы №1 в Украине.
        hr.sm-block-none
        .row.sm-block-none 
            .col-md-5 
                .color-grey Сделано в компании «
                    a(href="#").color-red Реактор
                    | ».
            .col-md-7
                ul.menu-list.menu-list-right
                    li 
                        a(href="#") Образование 
                    li 
                        a(href="#") Тренинги
                    li 
                        a(href="#") Typing tutor
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src="assets/scripts/index-min.js")