.info-popup.popup 
    .info-popup-row
        .info-popup-col
            .info-popup-title Standard Plus возобновляемая
            .info-popup-data до 14.03.2020
        .info-popup-col
            .info-popup-data 11 из 311
    .info-popup-row
        .info-popup-col
            .info-popup-title Premium возобновлемая
            .info-popup-data до 14.03.2020
        .info-popup-col
            .info-popup-data 5
    .info-popup-row
        .info-popup-col
            .info-popup-title Premium
        .info-popup-col
            .info-popup-data 309
    .info-popup-row
        .info-popup-col
            .info-popup-title Анонимная возобновляемая
            .info-popup-data до 14.03.2020
        .info-popup-col
            .info-popup-data 5
    .info-popup-row
        ul.info-popup-list
            li 
                a(href="#") Подробнее о публикациях
            li 
                a(href="#") Купить публикации от 349 грн
            li 
                a(href="#") Купить пакеты услуг (публикации и доступ к базе резюме) от 390 грн