nav.nav
    ul.nav-list
        li.nav-list-item
            a(href="#").nav-item-link
                .nav-link-img
                    img(src="assets/images/icons/glyphicon-search.svg", alt="search").icon
                span.nav-item-link-xs Найти кандидатов
                span.nav-item-link-md Резюме
        li.nav-list-item
            a(href="#").nav-item-link
                .nav-link-img
                    img(src="assets/images/icons/glyphicon-plus.svg", alt="plus").icon
                span.nav-item-link-xs Создать вакансию
                span.nav-item-link-md Вакансия
        li.nav-list-item
            a(href="#").nav-item-link
                .nav-link-img
                    img(src="assets/images/icons/glyphicon-company.svg", alt="company").icon
                span.nav-item-link-xs Реактор
                span.nav-item-link-md Реактор