$magenta: #E42469;
$red: #ff3b30;
$blue: #0094DF;
$grey: #6B7886;
$gray-light: #abb2ba;
$white: #ffffff;
$black: #000000;
$white-dark: #F4F5F6;
$coffe-white: #E9EBED;
$green: #74C241;
$black-dark: #2C3F52;
$orange: #FF9500;
$yellow: #FFCC00;
$green-soft: #E3F3D9;
$green-dark: #467427;
$violet-soft: #DEDDF7;
$violet: #5856D6;
$pink-soft: #F5E3F9;
$pink-dark: #7B277A;